{% extends 'layout.twig' %}
{% block title %}DefaultController::index{% endblock %}

{% block content %}
<h1>Pra quem reclamo</h1>


<form action="buscaresposta" method="post" >
	<textarea name="pergunta" value="teste" rows=10></textarea>
	<input type="submit">
</form>

{% endblock %}
