{% extends 'layout.twig' %}
{% block title %}DefaultController::index{% endblock %}

{% block content %}
<h1>Pra quem reclamo</h1>



<h1>Intençao</h1>
<pre>{{intencao}}</pre>

<h1>Categoria</h1>
<pre>{{categoria}}</pre>



{% endblock %}
